* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 5vw 30vw 60vw;
  grid-template-rows: 10vh 80vh 5vh;
  gap: 20px;
  justify-content: center;
  align-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background: #354259;
}
body.light {
  color: #354259;
  background: #ECE5C7;
}

#header {
  grid-area: 1/1/span 1/span 3;
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
}
#header .menu-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}
#header .menu-btn span {
  margin: 10px;
  font-weight: 800;
}
#header .menu-btn #menu-x {
  display: none;
}
#header .menu-btn.click span,
#header .menu-btn.click #menu-bars {
  display: none;
}
#header .menu-btn.click #menu-x {
  display: inline-block;
}
#header .menu-nav {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  visibility: hidden;
}
#header .menu-nav.open {
  visibility: visible;
}
#header .menu-nav .menu-link a {
  display: none;
  border-radius: 20px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  text-decoration: none;
  font-weight: 800;
  transition: all 0.5s ease-in-out;
}
#header .menu-nav .menu-link a:hover {
  color: #C2DED1;
}
#header .menu-nav .menu-link:hover i {
  display: none;
}
#header .menu-nav .menu-link:hover a {
  display: inline-block;
}
#header .menu-nav .menu-link.light a {
  border-radius: 20px;
  padding: 10px 20px;
  background: rgba(53, 66, 89, 0.3);
  color: #354259;
  text-decoration: none;
  font-weight: 800;
  transition: all 0.5s ease-in-out;
}
#header .menu-nav .menu-link.light a:hover {
  color: #C2DED1;
}

#about {
  grid-area: 2/2/span 1/span 1;
  border: solid white;
  border-radius: 20px;
}
#about:target {
  background: rgba(255, 255, 255, 0.2);
}
#about section {
  margin: 30px;
}
#about section:first-child {
  text-align: center;
}
#about div {
  margin: 10px 30px;
}

#features {
  grid-area: 2/3/span 1/span 1;
  border: solid white;
  border-radius: 20px;
  padding: 30px;
}
#features:target {
  background: rgba(255, 255, 255, 0.2);
}
#features .search-bar {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#features .search-bar .search-input, #features .search-bar .search-btn {
  color: white;
  background: transparent;
}
#features .search-bar .search-input.light, #features .search-bar .search-btn.light {
  color: #354259;
}
#features .search-bar .search-input {
  margin-right: 10px;
  border: 2px solid;
  border-radius: 20px;
  padding: 10px 20px;
  outline: none;
}
#features .search-bar .search-btn {
  border: none;
  cursor: pointer;
}
#features ul {
  margin: 20px;
}
#features ul li {
  margin: 10px 20px;
}

#tools {
  grid-area: 2/1/span 1/span 1;
  border: solid white;
  border-radius: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#tools:target {
  background: rgba(255, 255, 255, 0.2);
}
#tools #contacts {
  height: 90%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#tools #contacts .contact-link {
  margin: 30px;
}
#tools #contacts .contact-link a {
  display: none;
  border-radius: 20px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  text-decoration: none;
  font-weight: 800;
  transition: all 0.5s ease-in-out;
}
#tools #contacts .contact-link a:hover {
  color: #C2DED1;
}
#tools #contacts .contact-link:hover i {
  display: none;
}
#tools #contacts .contact-link:hover a {
  display: inline-block;
}
#tools #contacts .contact-link.light a {
  border-radius: 20px;
  padding: 10px 20px;
  background: rgba(53, 66, 89, 0.3);
  color: #354259;
  text-decoration: none;
  font-weight: 800;
  transition: all 0.5s ease-in-out;
}
#tools #contacts .contact-link.light a:hover {
  color: #C2DED1;
}
#tools #settings {
  border: 2px solid;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
#tools #settings .setting-btn {
  margin: 10px;
  cursor: pointer;
}
#tools #settings .theme-btn {
  margin: 10px;
  display: none;
}
#tools #settings .theme-btn.open {
  display: block;
}
#tools #settings .theme-btn .theme-checkbox {
  display: none;
}
#tools #settings .theme-btn .theme-checkbox:checked + .theme-toggle > #dark {
  display: none;
}
#tools #settings .theme-btn .theme-checkbox:checked + .theme-toggle > #light {
  display: inline;
}
#tools #settings .theme-btn .theme-toggle {
  cursor: pointer;
}
#tools #settings .theme-btn .theme-toggle > #light {
  display: none;
}
#tools #settings .time-btn {
  margin: 10px;
  cursor: pointer;
  display: none;
}
#tools #settings .time-btn.open {
  display: block;
}

#footer {
  grid-area: 3/1/span 1/span 3;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=main.css.map */