@import "variables";
@import "config";

body {
    display: grid;
    grid-template-columns: 5vw 30vw 60vw;
    grid-template-rows: 10vh 80vh 5vh;
    gap: 20px;
    justify-content: center;
    align-content: center;
    font-family: $font-family;
    color: set-color($color-1);
    background: $color-1;

    &.light {
        color: $color-1;
        background: $color-3;
    }
}

#header {
    grid-area: 1 / 1 / span 1 / span 3;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;

    .menu-btn {
        display: flex;
        align-items: center;
        cursor: pointer;

        span {
            margin: 10px;
            font-weight: map-get($font-weight, large);
        }

        #menu-x {
            display: none;
        }

        &.click {

            span,
            #menu-bars {
                display: none;
            }

            #menu-x {
                display: inline-block;
            }
        }
    }

    .menu-nav {
        width: 95%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        visibility: hidden;

        &.open {
            visibility: visible;
        }

        .menu-link {
            a {
                display: none;
                @include link;
            }

            &:hover {
                i {
                    display: none;
                }

                a {
                    display: inline-block;
                }
            }

            &.light {
                a {
                    @include link($color-1);
                }
            }
        }
    }
}

#about {
    grid-area: 2 / 2 / span 1 / span 1;
    border: solid white;
    border-radius: 20px;

    &:target {
        background: rgba(white, 0.2);
    }

    section {
        margin: 30px;
        
        &:first-child {
            text-align: center;
        }
    }

    div {
        margin: 10px 30px;
    }
}

#features {
    grid-area: 2 / 3 / span 1 / span 1;
    border: solid white;
    border-radius: 20px;
    padding: 30px;

    &:target {
        background: rgba(white, 0.2);
    }

    .search-bar {
        width: fit-content;

        .search-input, .search-btn {
            color: set-color($color-1);
            background: transparent;

            &.light {
                color: $color-1;
            }
        }

        .search-input {
            margin-right: 10px;
            border: 2px solid;
            border-radius: 20px;
            padding: 10px 20px;
            outline: none;
        }

        .search-btn {
            border: none;
            cursor: pointer;
        }
    }

    ul {
        margin: 20px;

        li {
            margin: 10px 20px;
        }
    }
}

#tools {
    grid-area: 2 / 1 / span 1 / span 1;
    border: solid white;
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
    &:target {
        background: rgba(white, 0.2);
    }

    #contacts {
        height: 90%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        .contact-link {
            margin: 30px;

            a {
                display: none;
                @include link;
            }

            &:hover {
                i {
                    display: none;
                }
    
                a {
                    display: inline-block;
                }
            }

            &.light {
                a {
                    @include link($color-1);
                }
            }
        }
    }

    #settings {
        border: 2px solid;
        border-radius: 20px;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;

        .setting-btn {
            margin: 10px;
            cursor: pointer;
        }

        .theme-btn {
            margin: 10px;
            display: none;

            &.open {
                display: block;
            }

            .theme-checkbox {
                display: none;

                &:checked+.theme-toggle {
                    &>#dark {
                        display: none;
                    }

                    &>#light {
                        display: inline;
                    }
                }
            }

            .theme-toggle {
                cursor: pointer;

                &>#light {
                    display: none;
                }
            }
        }

        .time-btn {
            margin: 10px;
            cursor: pointer;
            display: none;

            &.open {
                display: block;
            }
        }
    }
}

#footer {
    grid-area: 3 / 1 / span 1 / span 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1135px) {

}