* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 10vh auto auto 10vh;
  justify-content: center;
  align-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background: #354259;
}
body.light {
  color: #354259;
  background: #ECE5C7;
}

#header {
  grid-area: 1/1/span 1/span 2;
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
#header .menu-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}
#header .menu-btn span {
  margin: 0 10px;
  font-weight: bold;
}
#header .menu-btn #menu-x {
  margin: 0 10px;
  display: none;
}
#header .menu-btn.click span,
#header .menu-btn.click #menu-bars {
  display: none;
}
#header .menu-btn.click #menu-x {
  display: inline-block;
}
#header .menu-nav {
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #ECE5C7;
  visibility: hidden;
}
#header .menu-nav.light {
  background: #354259;
}
#header .menu-nav.open {
  visibility: visible;
}
#header .menu-nav .menu-link {
  margin: 20px;
}
#header .menu-nav .menu-link a {
  display: none;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}
#header .menu-nav .menu-link a:hover {
  color: #C2DED1;
}
#header .menu-nav .menu-link:hover i {
  display: none;
}
#header .menu-nav .menu-link:hover a {
  display: inline-block;
}
#header .menu-nav .menu-link.light {
  color: white;
}

#about {
  grid-area: 2/1/span 1/span 1;
  margin: 10px;
  border: solid white;
  border-radius: 20px;
}
#about.light {
  border: solid #354259;
}
#about:target {
  background: rgba(194, 222, 209, 0.4);
}
#about section {
  margin: 30px;
}
#about section:first-child {
  text-align: center;
}
#about div {
  margin: 10px 30px;
}

#features {
  grid-area: 2/2/span 2/span 1;
  margin: 10px;
  border: solid white;
  border-radius: 20px;
}
#features.light {
  border: solid #354259;
}
#features:target {
  background: rgba(194, 222, 209, 0.4);
}
#features .search-bar {
  margin: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#features .search-bar .search-input, #features .search-bar .search-btn {
  color: white;
  background: transparent;
}
#features .search-bar .search-input.light, #features .search-bar .search-btn.light {
  color: #354259;
}
#features .search-bar .search-input {
  margin-right: 10px;
  border: 2px solid;
  border-radius: 20px;
  padding: 10px 20px;
  outline: none;
}
#features .search-bar .search-btn {
  border: none;
  cursor: pointer;
}

#tools {
  grid-area: 3/1/span 1/span 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  border: solid white;
  border-radius: 20px;
}
#tools.light {
  border: solid #354259;
}
#tools:target {
  background: rgba(194, 222, 209, 0.4);
}
#tools #contacts {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#tools #contacts .contact-link {
  margin: 30px;
}
#tools #contacts .contact-link a {
  display: none;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}
#tools #contacts .contact-link a:hover {
  color: #C2DED1;
}
#tools #contacts .contact-link:hover i {
  display: none;
}
#tools #contacts .contact-link:hover a {
  display: inline-block;
}
#tools #contacts .contact-link.light a {
  border-radius: 20px;
  padding: 10px 20px;
  color: #354259;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}
#tools #contacts .contact-link.light a:hover {
  color: #C2DED1;
}
#tools #settings {
  margin: 30px;
  border: 2px solid;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
#tools #settings .setting-btn {
  margin: 10px;
  cursor: pointer;
}
#tools #settings .theme-btn {
  margin: 10px;
  display: none;
}
#tools #settings .theme-btn.open {
  display: block;
}
#tools #settings .theme-btn .theme-checkbox {
  display: none;
}
#tools #settings .theme-btn .theme-checkbox:checked + .theme-toggle > #dark {
  display: none;
}
#tools #settings .theme-btn .theme-checkbox:checked + .theme-toggle > #light {
  display: inline;
}
#tools #settings .theme-btn .theme-toggle {
  cursor: pointer;
}
#tools #settings .theme-btn .theme-toggle > #light {
  display: none;
}
#tools #settings .time-btn {
  margin: 10px;
  cursor: pointer;
  display: none;
}
#tools #settings .time-btn.open {
  display: block;
}

#footer {
  grid-area: 4/1/span 1/span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1369px) and (max-width: 2200px) {
  #about {
    grid-area: 2/1/span 1/span 1;
  }
  #features {
    grid-area: 2/2/span 1/span 1;
  }
  #tools {
    grid-area: 3/1/span 1/span 2;
  }
}
@media screen and (max-width: 1368px) {
  #header .menu-nav {
    flex-flow: column;
    align-items: flex-end;
    position: fixed;
    top: 10vh;
    visibility: hidden;
  }
  #header .menu-nav.open {
    visibility: visible;
  }
}
@media screen and (min-width: 767px) and (max-width: 1368px) {
  #about {
    grid-area: 2/1/span 1/span 1;
  }
  #features {
    grid-area: 3/1/span 1/span 2;
  }
  #tools {
    grid-area: 2/2/span 1/span 1;
    flex-flow: column;
  }
  #tools #contacts {
    flex-flow: column;
  }
}
@media screen and (max-width: 766px) {
  body {
    display: flex;
    flex-flow: column;
  }
}/*# sourceMappingURL=style.css.map */