* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin title {
    font-weight: map-get($font-weight, "L");
    font-size: map-get($font-size, "L");
}

@mixin subtitle {
    font-weight: map-get($font-weight, "M");
    font-size: map-get($font-size, "M");
}

@mixin body {
    font-weight: map-get($font-weight, "S");
    font-size: map-get($font-size, "S");
}

@mixin transition($duration: 0.5s) {
    transition: all $duration ease-in-out;
}

@mixin link {
    color: $color-3;
    text-decoration: none;
    @include subtitle;
    @include transition;

    &:hover {
        color: $color-2;
    }

    &.light {
        color: $color-1;

        &:hover {
            color: $color-2;
        }
    }
}

// @mixin button {
//     border: none;
//     padding: 20px;
//     color: $color-3;
//     background: transparent;
//     cursor: pointer;

//     &.light {
//         color: $color-1;
//     }
// }

@mixin box {
    margin: 20px;
    border: solid;
    border-radius: 20px;
    @include transition;

    &:target {
        box-shadow: -15px 15px 12px $color-3;
    }

    &.light {
        &:target {
            box-shadow: -15px 15px 12px $color-1;
        }
    }
}

// @function set-color($color) {
//     @if (lightness($color) > 40%) {
//         @return $color-1;
//     }

//     @else {
//         @return white;
//     }
// }