* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin transition($duration: 0.5s) {
    transition: all $duration ease-in-out;
}

@mixin link($color: set-color($color-1)) {
    border-radius: 20px;
    padding: 10px 20px;
    color: $color;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    @include transition;

    &:hover {
        color: $color-2;
    }
}

@mixin box {
    margin: 10px;
    border: solid set-color($color-1);
    border-radius: 20px;

    &.light {
        border: solid $color-1;
    }

    &:target {
        background: rgba($color-2, 0.4);
    }
}

@function set-color($color) {
    @if (lightness($color) > 40%) {
        @return $color-1;
    }

    @else {
        @return white;
    }
}