$color-1: #354259;
$color-2: #C2DED1; 
$color-3: #ECE5C7;
$color-4: #CDC2AE;
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-weight: (
    "small": 400,
    "medium": 600,
    "large": 800
);