$color-1: #354259;
$color-2: #C2DED1; 
$color-3: #ECE5C7;
$color-4: #CDC2AE;
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-weight: (
    "S": 400,
    "M": 600,
    "L": 800
);
$font-size: (
    "S": 1.25rem,
    "M": 1.5rem,
    "L": 3rem
);