* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 750px;
  overflow: scroll;
  display: grid;
  grid-template-columns: 35vw 55vw;
  grid-template-rows: 10vh auto auto 10vh;
  justify-content: center;
  align-content: center;
  color: #f4f1de;
  background: rgba(61, 64, 91, 0.9);
  font: 400 1.25rem "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body.light {
  color: #3d405b;
  background: rgba(244, 241, 222, 0.4);
}
body::-webkit-scrollbar {
  display: none;
}
body .title {
  font: 800 3rem "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body button,
body i {
  font: 400 1.25rem "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  grid-area: 1/1/span 1/span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .menu-nav .menu-link {
  margin: 0 20px;
  color: #f4f1de;
  text-decoration: none;
  font: 600 1.5rem "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header .menu-nav .menu-link:hover {
  color: #f2cc8f;
}
header .menu-nav .menu-link.light {
  color: #3d405b;
}
header .menu-nav .menu-link.light:hover {
  color: #f2cc8f;
}
header .settings #theme-btn #theme-checkbox {
  display: none;
}
header .settings #theme-btn #theme-checkbox:checked + #theme-toggle > #dark {
  display: none;
}
header .settings #theme-btn #theme-checkbox:checked + #theme-toggle > #light {
  display: inline;
}
header .settings #theme-btn #theme-toggle {
  cursor: pointer;
}
header .settings #theme-btn #theme-toggle > #light {
  display: none;
}

#about {
  grid-area: 2/1/span 1/span 1;
  margin: 20px;
  border-radius: 20px;
  background: #3d405b;
}
#about:target {
  color: #3d405b;
  background: #f4f1de;
}
#about.light {
  background: #f4f1de;
}
#about.light:target {
  color: #f4f1de;
  background: #3d405b;
}
#about #intro {
  margin: 30px 30px 0;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: auto auto;
  gap: 20px;
}
#about #intro img {
  grid-area: 1/1/span 2/span 1;
  border-radius: 50%;
  width: 100%;
}
#about #intro h1 {
  grid-area: 1/2/span 1/span 1;
}
#about #intro div {
  grid-area: 2/2/span 1/span 1;
  display: flex;
}
#about #intro div span:nth-child(1) {
  -webkit-animation: animate1 1s ease-in-out 0.1s infinite;
          animation: animate1 1s ease-in-out 0.1s infinite;
}
#about #intro div span:nth-child(2) {
  -webkit-animation: animate1 1s ease-in-out 0.2s infinite;
          animation: animate1 1s ease-in-out 0.2s infinite;
}
#about #intro div span:nth-child(3) {
  -webkit-animation: animate1 1s ease-in-out 0.3s infinite;
          animation: animate1 1s ease-in-out 0.3s infinite;
}
#about #intro div span:nth-child(4) {
  -webkit-animation: animate1 1s ease-in-out 0.4s infinite;
          animation: animate1 1s ease-in-out 0.4s infinite;
}
#about #intro div span:nth-child(5) {
  -webkit-animation: animate1 1s ease-in-out 0.5s infinite;
          animation: animate1 1s ease-in-out 0.5s infinite;
}
#about #intro div span:nth-child(6) {
  -webkit-animation: animate1 1s ease-in-out 0.6s infinite;
          animation: animate1 1s ease-in-out 0.6s infinite;
}
#about #intro div span:nth-child(7) {
  -webkit-animation: animate1 1s ease-in-out 0.7s infinite;
          animation: animate1 1s ease-in-out 0.7s infinite;
}
#about #intro div span:nth-child(8) {
  -webkit-animation: animate1 1s ease-in-out 0.8s infinite;
          animation: animate1 1s ease-in-out 0.8s infinite;
}
#about #intro div span:nth-child(9) {
  -webkit-animation: animate1 1s ease-in-out 0.9s infinite;
          animation: animate1 1s ease-in-out 0.9s infinite;
}
#about #intro div span:nth-child(10) {
  -webkit-animation: animate1 1s ease-in-out 1s infinite;
          animation: animate1 1s ease-in-out 1s infinite;
}
#about #intro div span:nth-child(11) {
  -webkit-animation: animate1 1s ease-in-out 1.1s infinite;
          animation: animate1 1s ease-in-out 1.1s infinite;
}
#about #intro div span:nth-child(12) {
  -webkit-animation: animate1 1s ease-in-out 1.2s infinite;
          animation: animate1 1s ease-in-out 1.2s infinite;
}
#about #intro div span:nth-child(13) {
  -webkit-animation: animate1 1s ease-in-out 1.3s infinite;
          animation: animate1 1s ease-in-out 1.3s infinite;
}
#about #intro div span:nth-child(14) {
  -webkit-animation: animate1 1s ease-in-out 1.4s infinite;
          animation: animate1 1s ease-in-out 1.4s infinite;
}
#about #intro div span:nth-child(15) {
  -webkit-animation: animate1 1s ease-in-out 1.5s infinite;
          animation: animate1 1s ease-in-out 1.5s infinite;
}
#about #intro div span:nth-child(16) {
  -webkit-animation: animate1 1s ease-in-out 1.6s infinite;
          animation: animate1 1s ease-in-out 1.6s infinite;
}
#about #intro div span:nth-child(17) {
  -webkit-animation: animate1 1s ease-in-out 1.7s infinite;
          animation: animate1 1s ease-in-out 1.7s infinite;
}
#about #intro div span:nth-child(18) {
  -webkit-animation: animate1 1s ease-in-out 1.8s infinite;
          animation: animate1 1s ease-in-out 1.8s infinite;
}
#about #intro div span:nth-child(19) {
  -webkit-animation: animate1 1s ease-in-out 1.9s infinite;
          animation: animate1 1s ease-in-out 1.9s infinite;
}
#about .profile-view {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .profile-view #profile-btn {
  border: none;
  padding: 15px 20px;
  color: #3d405b;
  background: transparent;
  cursor: pointer;
  font: 400 1.25rem "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 50px;
  background: #f2cc8f;
}
#about .profile {
  display: none;
}
#about .profile.open {
  display: grid;
  grid-template-columns: 34% 33% 33%;
  grid-template-rows: auto auto;
}
#about .profile #obj-btn {
  grid-area: 1/1/span 1/span 1;
}
#about .profile #ed-btn {
  grid-area: 1/2/span 1/span 1;
}
#about .profile #tech-btn {
  grid-area: 1/3/span 1/span 1;
}
#about .profile #obj-btn,
#about .profile #ed-btn,
#about .profile #tech-btn {
  border: none;
  padding: 15px 20px;
  color: #3d405b;
  background: transparent;
  cursor: pointer;
  font: 400 1.25rem "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid #3d405b;
  border-radius: 20px 20px 0 0;
  background: #f2cc8f;
}
#about .profile #obj-btn.click,
#about .profile #ed-btn.click,
#about .profile #tech-btn.click {
  border-bottom: none;
}
#about .profile #obj-btn.light,
#about .profile #ed-btn.light,
#about .profile #tech-btn.light {
  border: 1px solid #f4f1de;
}
#about .profile #obj-btn.light.click,
#about .profile #ed-btn.light.click,
#about .profile #tech-btn.light.click {
  border-bottom: none;
}
#about .profile #obj,
#about .profile #ed,
#about .profile #tech {
  grid-area: 2/1/span 1/span 3;
  border-radius: 0 0 20px 20px;
  padding: 30px;
  color: #3d405b;
  background: #f2cc8f;
  display: none;
}
#about .profile #obj.open,
#about .profile #ed.open,
#about .profile #tech.open {
  display: block;
}

#features {
  grid-area: 2/2/span 1/span 1;
  margin: 20px;
  border-radius: 20px;
  background: #3d405b;
  display: grid;
  grid-template-rows: 20% 80%;
  position: relative;
}
#features:target {
  color: #3d405b;
  background: #f4f1de;
}
#features.light {
  background: #f4f1de;
}
#features.light:target {
  color: #f4f1de;
  background: #3d405b;
}
#features .project-header {
  grid-area: 1/1/span 1/span 1;
  margin: 30px;
  display: flex;
  align-items: center;
}
#features .projects {
  grid-area: 2/1/span 1/span 1;
  display: flex;
  align-items: center;
  overflow-x: scroll;
}
#features .projects::-webkit-scrollbar {
  height: 6px;
}
#features .projects::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #f2cc8f;
}
#features .projects .project-card {
  margin: 30px;
  border: solid;
  border-radius: 20px;
  max-width: 300px;
  max-height: 400px;
  flex: 0 0 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #f2cc8f;
}
#features .projects .project-card img {
  border-radius: 20px 20px 0 0;
  width: 100%;
}
#features .projects .project-card span {
  padding: 20px;
  color: #3d405b;
  font: 600 1.5rem "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#features .projects .project-card .launch-btn {
  color: #f4f1de;
  text-decoration: none;
  font: 600 1.5rem "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
  color: #3d405b;
  position: absolute;
  bottom: 0;
  right: 0;
}
#features .projects .project-card .launch-btn:hover {
  color: #f2cc8f;
}
#features .projects .project-card .launch-btn.light {
  color: #3d405b;
}
#features .projects .project-card .launch-btn.light:hover {
  color: #f2cc8f;
}
#features .projects .project-card .launch-btn:hover {
  color: #3d405b;
  -webkit-animation: animate2 1s ease-in-out infinite;
          animation: animate2 1s ease-in-out infinite;
}

#contacts {
  grid-area: 3/1/span 1/span 2;
  margin: 20px;
  border-radius: 20px;
  background: #3d405b;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contacts:target {
  color: #3d405b;
  background: #f4f1de;
}
#contacts.light {
  background: #f4f1de;
}
#contacts.light:target {
  color: #f4f1de;
  background: #3d405b;
}
#contacts div {
  margin: 30px;
}
#contacts div a {
  display: none;
  color: #f4f1de;
  text-decoration: none;
  font: 600 1.5rem "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#contacts div a:hover {
  color: #f2cc8f;
}
#contacts div a.light {
  color: #3d405b;
}
#contacts div a.light:hover {
  color: #f2cc8f;
}
#contacts div:hover i {
  display: none;
}
#contacts div:hover a {
  display: inline-block;
}

footer {
  grid-area: 4/1/span 1/span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes animate1 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes animate1 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes animate2 {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes animate2 {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0px);
  }
}
@media screen and (max-width: 1350px) {
  body {
    grid-template-columns: 70vw 20vw;
    grid-template-rows: 10vh auto auto 10vh;
  }
  #about {
    grid-area: 2/1/span 1/span 1;
  }
  #features {
    grid-area: 3/1/span 1/span 2;
  }
  #contacts {
    grid-area: 2/2/span 1/span 1;
    flex-flow: column;
  }
}
@media screen and (max-width: 800px) {
  body {
    display: block;
  }
  #features {
    display: block;
  }
  #features .projects {
    flex-flow: column;
  }
  #features .scroll-arrow {
    display: none;
  }
  #contacts {
    flex-flow: row;
  }
}/*# sourceMappingURL=style.css.map */